@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/woff/Pretendard-Black.woff') format('woff');
    font-weight: 900; /* Black */
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/woff/Pretendard-Thin.woff') format('woff');
    font-weight: 100; /* Thin */
    font-style: normal;
}

/* 필요한 다른 폰트 웨이트 추가 */
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/woff/Pretendard-Regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
}

body {
    font-family: 'Pretendard', sans-serif;
}
